<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test task #2</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
        </script>
		<script src="https://ga.jspm.io/npm:es-module-shims@1.4.6/dist/es-module-shims.js"></script>
		<style>
		html {
			font-family: monospace;
		}
		.wrapper {
			padding: 1rem;
		}
		.title {
			margin: 0.25rem;
			font-size: 1rem;
		}
		.a {
			border: 2px solid salmon;
		}
		.b {
			border: 2px solid lightgreen;
		}
		.c {
			border: 2px solid orchid;
		}
		.slot {
			padding: 0.5rem;
			background-color: bisque;
		}
		</style>
    </head>
    <body>

        <div id="app">
			<h1>{{ title }}</h1>
			<component-a>
				<template v-slot:test="slotData">
					<div class="slot">slot data: {{ slotData }}</div>
				</template>
			</component-a>
		</div>

        <script type="module">
        import { createApp } from "vue";
		import ComponentA from './components.js';

        createApp({
			components: {
				ComponentA
			},
            data() {
                return {
                    title: "Task 2",
                };
            },
        }).mount("#app");
        </script>
    </body>
</html>
